@model HomeViewModel

@{
    ViewData["Title"] = "Blood Servers";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string b = "Blood";
    string cp = "Cryptic Passage";
    string dw = "Death Wish";
    string twoira = "The Way of Ira";

    Func<string, Microsoft.AspNetCore.Html.IHtmlContent>
    ListServers = @<div>
        @foreach (var server in Model.Servers.Where(s => s.Mod == item).OrderBy(s => s.MaximumPlayers))
        {
            <div class="bordered">
                <p style="font-weight:bold">Players: @(server.CurrentPlayers - 1)/@(server.MaximumPlayers - 1)</p>
                <div>
                    @if (server.IsStarted)
                    {
                        <p>Game Type: @server.GameType</p>
                        <div>
                            @foreach (var player in server.Players.Skip(1))
                            {
                                <p>@player.Name: @player.Score</p>
                            }
                        </div>
                    }
                    else
                    {
                        @if (server.CurrentPlayers < server.MaximumPlayers)
                        {
                            <p>Command to join: <span class="code">@server.CommandLine</span></p>
                        }
                    }
                </div>
            </div>
        }
    </div>;
}

<h1>Welcome Bloodites!</h1>
<div class="bordered">
    <p>Use this exe to connect: <a href="https://lerppu.net/wannabethesis/nblood/20200211-2193/" target="_blank" rel="nofollow noreferrer noopener">https://lerppu.net/wannabethesis/nblood/20200211-2193/</a></p>
</div>
<div id="for-noobs" class="bordered">
    <p>
        What to do with the <span class="code">command to join</span>?
        Select and copy it to clipboard then paste it into the command prompt what you have opened from NBlood's folder.
        Here is how to easily open a command prompt from any folder:
    </p>
    <video width="400" height="226" controls>
        <source src="~/cp.mp4" type="video/mp4">
        <p><a href="~/cp.mp4">Download tutorial video here</a></p>
    </video>
    <p>Watch it on YouTube: <a href="https://youtu.be/bgSSJQolR0E?t=47" target="_blank" rel="nofollow noreferrer noopener">https://youtu.be/bgSSJQolR0E?t=47</a></p>
</div>

<div class="bordered">
    <p><span class="bolder" style="font-size:larger">@Model.ManHoursPlayed</span> man-hours played since @Model.RunningSinceUtc</p>
</div>

<div class="bordered" style="padding-left:1em;padding-bottom:1em">
    <p>If you want to play with friends only and keep your port secret, request a private server by clicking the button below:</p>
    <form method="get">
        <button asp-route="RequestPrivateServer">Request Private Server</button>
    </form>
</div>

<div style="margin:1em">
    <h2>@b 1.21</h2>
    <details>
        <summary>Show @b <span class="bolder">version 1.21</span> servers</summary>
        <p>The below files must be in your Blood directory:</p>
        <ul>
            <li>BLOOD.INI</li>
            <li>BLOOD.RFF</li>
            <li>GUI.RFF</li>
            <li>SOUNDS.RFF</li>
            <li>SURFACE.DAT</li>
            <li>TILES000.ART-TILES017.ART</li>
            <li>VOXEL.DAT</li>
        </ul>
        @ListServers(@b)
    </details>
    <br />
    <h2>@cp</h2>
    <details>
        <summary>Show @cp servers</summary>
        <p>The below files must be in your Blood directory:</p>
        <ul>
            <li>CP01-CP09.MAP</li>
            <li>CPART07.AR_ (Fresh Supply owners need to copy tiles007.ART from <span class="code">\addons\Cryptic Passage</span> and rename it</li>
            <li>CPART15.AR_ (Fresh Supply owners need to copy tiles015.ART from <span class="code">\addons\Cryptic Passage</span> and rename it</li>
            <li>CPBB01.MAP-CPBB04.MAP</li>
            <li>CPSL.MAP</li>
            <li>CRYPTIC.INI</li>
        </ul>
        <p class="warning">Don't forget to send back the ferry every time at the end of the last map, otherwise you cannot go back if the boss kills you!</p>
        @ListServers(@cp)
    </details>
    <br />
    <h2>@dw 1.6.10</h2>
    <details>
        <summary>Show @dw <span class="bolder">version 1.6.10</span> servers</summary>
        <p><a href="https://www.moddb.com/mods/death-wish-for-blood/downloads/death-wish-160-updated-10-31-19" target="_blank" rel="nofollow noreferrer noopener">Download @dw from here</a></p>
        <p>The below files must be in your Blood directory:</p>
        <ul>
            <li>dw.ini</li>
            <li>DWBB1.MAP-DWBB3.MAP</li>
            <li>DWE1M1.MAP-DWE1M12.MAP</li>
            <li>DWE2M1.MAP-DWE2M12.MAP</li>
            <li>DWE3M1.MAP-DWE3M12.MAP</li>
        </ul>
        @ListServers(@dw)
    </details>
    <br />
    <h2>@twoira 1.0.2.4</h2>
    <details>
        <summary>Show @twoira <span class="bolder">version 1.0.2.4</span> servers</summary>
        <p><a href="https://www.moddb.com/mods/the-way-of-ira/downloads/the-way-of-ira-twoira-v102-an-episode-for-blood" target="_blank" rel="nofollow noreferrer noopener">Download @twoira from here</a></p>
        <p>The below folder (IRA) must be in your Blood directory, and inside that the other additional files and folders:</p>
        <ul>
            <li>
                IRA
                <ul>
                    <li>
                        WD
                        <ul>
                            <li>BLOOD.RFF</li>
                            <li>IRA000.ART-IRA018.ART</li>
                            <li>SOUNDS.RFF</li>
                        </ul>
                    </li>
                    <li>ira.ini</li>
                    <li>IRA01.MAP</li>
                    <li>IRA02_A.MAP</li>
                    <li>IRA02_B.MAP</li>
                    <li>IRA03.MAP</li>
                    <li>IRA04.MAP</li>
                    <li>IRA05.MAP</li>
                    <li>IRA06.MAP</li>
                    <li>IRA07.MAP</li>
                    <li>IRA08.MAP</li>
                    <li>SURFACE.DAT</li>
                    <li>VOXEL.DAT</li>
                </ul>
            </li>
        </ul>
        @ListServers(twoira)
    </details>
</div>
